#company:hover {
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}

#menu:hover {
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}

#veggie-image,
#breakfast-image,
#salad-image,
#sandwich-image,
#sides-image,
#beverage-image {
  cursor: pointer;
}
