/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

/* styling of header start*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#restaurant-logo {
  height: 100px;
  width: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30px;
  gap: 50px;

  background-color: #b0171f;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
/* styling of header END */

/* styling of main START */
main {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.main-container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-rows: 750px 300px 400px;
  overflow: hidden;
}

.main-image-container {
  grid-row: 1/2;
}

#background-food {
  width: 1500px;
  height: auto;
  clip-path: inset(40% 0 0 0);
  transform: translatey(-40%);
  position: absolute;
}

h1 {
  z-index: 1;
  color: white;
  font-size: 60px;
  padding-left: 750px;
  width: 1500px;
  font-family: "Asap", sans-serif;
  position: absolute;
  font-weight: bold;
}

.what-we-do-container {
  grid-row: 2/3;
  width: 1500px;
  height: 300px;
  background-color: #68653a;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 60px;
  color: white;
  font-family: "Asap", sans-serif;
  align-self: center;
  padding-left: 200px;
}

.text {
  align-self: center;
  width: 750px;
  padding-right: 200px;
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.meet-the-board-container {
  height: 570px;
  background-color: #b0171f;
  transform: translateY(-30%);
  display: flex;
  flex-direction: row;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#leadership {
  font-size: 40px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 100px;
  padding-left: 200px;
}

#quality-sentence {
  font-size: 60px;
  color: white;
  font-family: "Asap", sans-serif;
  width: 900px;
  padding-left: 200px;
}

.text-smaller {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 600px;
  padding-left: 200px;
  font-size: 24px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 50px;
}

button {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: none;
  background-color: #029cd4;
  color: white;
  font-family: "Asap", sans-serif;
}
