/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

/* styling of header start*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}

#restaurant-logo {
  height: 100px;
  width: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30px;
  gap: 50px;

  background-color: #b0171f;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
/* styling of header END */

