/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

/* styling of header start*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}

#restaurant-logo {
  height: 100px;
  width: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30px;
  gap: 50px;

  background-color: #b0171f;
  color: white;
  font-weight: bold;
}
/* styling of header END */

/* styling of main START */
main {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.main-container {
  max-width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 100px 450px 450px 450px;
  border: 1px solid black;
}

.main-message-image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

#main-burger {
  height: 300px;
  width: auto;
  padding-top: 10px;
  justify-self: center;
}

.main-message-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  gap: 10px;
  padding-left: 13%;
}

.big-text {
  color: red;
  font-weight: bold;
  font-size: 40px;
  width: 70%;
}

.small-text {
  width: 60%;
}

.item-list-container {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-option {
  width: 80px;
  height: 80px;
}

#beverage {
  width: 100px;
}

.text-one {
  height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: white;
}

.image-one {
  height: 100%;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: white;
}

.lower-images {
  width: 100%;
  height: 450px;
}

footer {
  height: 60px;
  background-color: #b0171f;
}

#contact {
  padding-bottom: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 220px;
  list-style: none;
}
